body{
    background: url(bg.png);
}
h2{
    border-top: 1px solid lightblue;
    border-bottom: 1px solid lightblue;
    padding: 2%;
    color: lightblue;
}
h3{
    margin-bottom: 2%;
}
.wrapper{
    display: block;
    width: 75%;
    margin: auto;
    padding: 2%;
    text-align: center;
}

img-size{
    width: 100%;
    max-width: 100% !important;
    vertical-align: middle;
    height: 50px;
}
