body{
    background: url(bg.png);
}
h1{
    border-top: 1px solid lightblue;
    border-bottom: 1px solid lightblue;
    padding: 2%;
    color: lightblue;
}
h3{
    margin-bottom: 2%;
}
.wrapper{
    display: block;
    width: 75%;
    margin: auto;
    padding: 2%;
    text-align: center;
}

ul{
    display: inline-block;
    width: auto;
    height: auto;
    margin: auto;
    padding: auto;
}

li{
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 2px solid grey;
    margin: 0.7%;
}
img{
    width: 100%;
    border: 0;
    max-width: 100% !important;
    vertical-align: middle;
    height: auto;
}
